* {
  box-sizing: border-box;
}

:root {
  max-height: 100vh;
}

html {
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.8;
}

body {
  margin: 0;
  overflow: hidden;
}

img {
  width: 100%;
}
